<launch>
    <!-- Launnch the Gazebo Simulation -->
    <include file="$(find bumperbot_simulation)/launch/simulation.launch">
        <arg name="world"   value="willow_garage"/>
    </include>

    <!-- Launch the Controller -->
    <include file="$(find bumperbot_controller)/launch/controller.launch">
        <arg name="is_simple"   value="false"/>
    </include>

    <!-- Launch the Joystick Teleop -->
    <include file="$(find bumperbot_controller)/launch/joystick_teleop.launch"/>

    <!-- Launch Gmapping -->
    <include file="$(find bumperbot_mapping)/launch/mapping.launch"/>

    <!-- Launch Rviz -->
    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find bumperbot_mapping)/rviz/mapping.rviz"/>

</launch>